@inject ILeadService LeadService
@inject ITaskService TaskService

<h3>Lead Queue</h3>

@if (LeadService.Leads == null)
{
    <p><em>Loading Leads...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                 <th></th>
                <th><i class="oi oi-person"></i></th>
                <th><i class="oi oi-globe"></i></th>
                <th><i class="oi oi-info"></i></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var lead in LeadService.Leads)
            {
                <tr>
                    <td> </td>
                    <td><a href="/lead/@lead.ID">@lead.FirstName @lead.LastName</a></td>
                    <td>@lead.CompanyName</td>
                    <td>@lead.LeadDescription</td>
                    
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync() //once component is rendered
    {
        await LeadService.GetLeads(); 
    }

}
